<h1 class="score-table">About</h1>

<div class="text-content">
  <h2>Game Rules</h2>
  <p>When it's a player turn, the player names a city that starts with the letter with which the previous city ended.</p>
  <p>There are two players: you and "the computer". The first letter of your city is already entered, so just type the rest; then press enter or click the "Go!" button.</p>
  <p>You can see the cities that were already used in the "City History", either for a paticular letter (sorted) or all (in the order they were called).</p>
  <p>Click on a city to see it on the map.</p>
  <h2>About author</h2>
  <p>This page is created by Alexander Goponenko with <a href="https://www.emberjs.com/">Ember</a>. Please see my other works at <a href="http://agoponenko.ga">http://agoponenko.ga</a>.</p>
  <p>The page also contain icons from <a href="https://icons8.com/">Icons8</a>.</p>
</div>
<div class="copyright"> Copyright &copy; 2018 Alexander Goponenko </div>