<h1>Round {{gameStore.round}}</h1>

{{playstring-panel 
    delegateSubmit=(action 'handleSubmit') 
    entered=gameStore.entered 
    playstring=gameStore.playstring 
}}
      
  

      
  

{{history-panel class="played" gameStore=gameStore}}
